<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs', { title }) %>
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="d-flex">
            <%- include('./partials/sidebar.ejs') %>
            <main class="d-flex bg-dark flex-column align-items-center" style="width: 100%">
                <hr style="border: none; border-top: 5px solid white; width: 90%">
                <h2 class="fw-bold my-3 text-white">Report Data</h2>
                <hr style="border: none; border-top: 5px solid white; width: 90%">
                <div class="table-container" style="width: 90%">
                    <!-- Alert -->
                    <div class="col-auto col-lg-12 mt-2">
                        <% if(alert.message != "") { %>
                        <div class="alert alert-<%= alert.status %>" role="alert">
                            <%= alert.message %>
                        </div>
                        <% } %>
                    </div>
                    
                    <div class="col-auto col-lg-12 mt-2">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#advanceFilterModal">
                            <i class="fas fa-filter"></i> Filter Spesifik
                        </button>
                    </div>

                    <!-- Pilihan Collection dan Search Bar (General) -->
                    <div class="col-auto col-lg-12 mt-2">
                        <form action="/reports/general" method="GET" class="d-flex justify-content-between">
                            <div class="form-group" id="chooseCollection">
                                <label class="form-check-label text-white" for="chooseCollection">
                                    Pilih Data :
                                </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="collection" id="usersRadio" value="users" required onchange="updateFieldOptions()">
                                    <label class="form-check-label text-white" for="usersRadio">
                                        User
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="collection" id="transactionsRadio" value="transactions" required onchange="updateFieldOptions()">
                                    <label class="form-check-label text-white" for="transactionsRadio">
                                        Transaksi
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="collection" id="booksRadio" value="books" required onchange="updateFieldOptions()">
                                    <label class="form-check-label text-white" for="booksRadio">
                                        Buku
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" id="fieldOptions">
                                <label class="text-white">Urutkan berdasarkan :</label>
                                <select class="form-select form-select-sm" id="fieldSelect" name="field">
                                  <option value="">Pilih Nama Atribut</option>
                                </select>
                            </div>
                              
                            <script>
                                function updateFieldOptions() {
                                  const usersRadio = document.getElementById('usersRadio');
                                  const transactionsRadio = document.getElementById('transactionsRadio');
                                  const booksRadio = document.getElementById('booksRadio');
                                  const fieldSelect = document.getElementById('fieldSelect');

                                  while (fieldSelect.options.length > 0) {
                                    fieldSelect.remove(0);
                                  }
                              
                                  if (usersRadio.checked) {
                                    const options = [
                                      { value: '', label: 'Pilih Nama Atribut' },
                                      { value: 'nama', label: 'Nama' },
                                      { value: 'telp', label: 'No Telpon' },
                                      { value: 'umur', label: 'Umur' },
                                      { value: 'alamat', label: 'Alamat' },
                                      { value: 'aktifsts', label: 'Status Aktif' },
                                      { value: 'jenisusr', label: 'Jenis User' },
                                      { value: 'username', label: 'Username' }
                                    ];
                              
                                    options.forEach(option => {
                                      const newOption = document.createElement('option');
                                      newOption.value = option.value;
                                      newOption.text = option.label;
                                      fieldSelect.add(newOption);
                                    });
                                  } else if(transactionsRadio.checked){
                                    const options = [
                                      { value: '', label: 'Pilih Nama Atribut' },
                                      { value: 'idmember', label: 'Nama Pembeli' },
                                      { value: 'hrgtotal', label: 'Harga Total' },
                                      { value: 'pegawaiusn', label: 'Kasir' },
                                      { value: 'createdAt', label: 'Tanggal Transaksi' }
                                    ];
                              
                                    options.forEach(option => {
                                      const newOption = document.createElement('option');
                                      newOption.value = option.value;
                                      newOption.text = option.label;
                                      fieldSelect.add(newOption);
                                    });
                                  } else if(booksRadio.checked){
                                    const options = [
                                      { value: '', label: 'Pilih Nama Atribut' },
                                      { value: 'judul', label: 'Judul' },
                                      { value: 'penulis', label: 'Penulis' },
                                      { value: 'penerbit', label: 'Penerbit' },
                                      { value: 'tahuntbt', label: 'Tahun Terbit' },
                                      { value: 'kategori', label: 'Kategori' },
                                      { value: 'harga', label: 'Harga' },
                                      { value: 'stok', label: 'Stok' },
                                      { value: 'jmlbeli', label: 'Jumlah dibeli' },
                                    ];
                              
                                    options.forEach(option => {
                                      const newOption = document.createElement('option');
                                      newOption.value = option.value;
                                      newOption.text = option.label;
                                      fieldSelect.add(newOption);
                                    });
                                  }
                                }
                            </script>
                            <div class="form-group" id="sortOptions">
                                <label class="text-white">Urutkan Secara :</label>
                                <select class="form-select form-select-sm" id="sortSelect" name="sort">
                                  <option value="">Pilih Metode Urut</option>
                                  <option value="1">Ascending</option>
                                  <option value="-1">Descending</option>
                                </select>
                            </div>                   
                            <div class="input-group mt-4" style="width: 40%; height: 50%;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Cari :</span>
                                </div>
                                <input type="text" class="form-control form-control-sm" id="searchInput" placeholder="Masukkan kata kunci" name="search">
                                <div class="input-group-append">
                                  <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-search"></i>
                                  </button>
                                </div>
                            </div>
                        </form>
                    </div>
 
                    <table class="table table-dark table-striped" style="vertical-align: middle" id="dataTable">
                        <thead>
                            <tr class="text-center">
                                <% if(Object.keys(filter).length === 0){ %>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <th>-</th>
                                <% } else if(collection === 'users'){ %>
                                <th>No</th>
                                <th>Nama</th>
                                <th>No Telpon</th>
                                <th>Umur</th>
                                <th>Alamat</th>
                                <th>Status Aktif</th>
                                <th>Jenis User</th>
                                <% } else if(collection === 'books'){ %>
                                <th>No</th>
                                <th>Judul</th>
                                <th>Penulis</th>
                                <th>Penerbit</th>
                                <th>Tahun Terbit</th>
                                <th>Kategori</th>
                                <th>Harga</th>
                                <th>Stok</th>
                                <th>Jumlah Dibeli</th>
                                <% } else if(collection === 'transactions'){ %>
                                <th>No</th>
                                <th>Nama Pembeli</th>
                                <th>Waktu Transaksi</th>
                                <th>Detail</th>
                                <th>Harga Total</th>
                                <th>Kasir</th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(Object.keys(filter).length === 0){ %>
                                <tr>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                    <td class="text-center">-</td>
                                </tr>
                            <% } else if(collection === 'users'){ %>
                                <% for(let i = 0; i < filter.length; i++){ %>
                                <tr>
                                    <td class="text-center"><%= i+1 %></td>
                                    <td><%= filter[i].nama %></td>
                                    <td><%= filter[i].telp %></td>
                                    <td class="text-center"><%= filter[i].umur %> Tahun</td>
                                    <td><%= filter[i].alamat %></td>
                                    <td class="text-center"><%= filter[i].aktifsts %></td>
                                    <td class="text-center"><%= filter[i].jenisusr %></td>
                                </tr>
                                <% } %>
                            <% } else if(collection === 'books'){ %>
                                <% for(let i = 0; i < filter.length; i++){ %>
                                    <tr>
                                        <td class="text-center"><%= i+1 %></td>
                                        <td ><%= filter[i].judul %></td>
                                        <td class="text-center"><%= filter[i].penulis %></td>
                                        <td class="text-center"><%= filter[i].penerbit %></td>
                                        <td class="text-center"><%= filter[i].tahuntbt %></td>
                                        <td class="text-center"><%= filter[i].kategori %></td>
                                        <td class="text-center">Rp.<%= filter[i].harga %></td>
                                        <td class="text-center"><%= filter[i].stok %> Unit</td>
                                        <td class="text-center"><%= filter[i].jmlbeli %> Unit</td>
                                    </tr>
                                <% } %>
                            <% } else if(collection === 'transactions'){ %>
                                <% for(let i = 0; i < filter.length; i++){ %>
                                    <tr>
                                        <td class="text-center"><%= i+1 %></td>
                                        <td>
                                            <% users.forEach(user => { %>
                                                <% if (filter[i].idmember == user._id.toString()) { %>
                                                <%= user.nama %>
                                                <% } %>
                                            <% }) %>
                                        </td>
                                        <td class="text-center"><%= moment(filter[i].createdAt).locale('id').format('dddd, D MMMM YYYY HH:mm:ss') %></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#detTransaksi-<%= filter[i]._id %>">Lihat</button>
                                            <!-- Detail Transaksi Modal -->
                                            <div class="modal fade" 
                                                id="detTransaksi-<%= filter[i]._id %>"
                                                data-keyboard="false" 
                                                tabindex="-1" 
                                                role="dialog"
                                                aria-labelledby="exampleModalCenterTitle"
                                                aria-hidden="true">
                                              <div
                                                  class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-dark" id="exampleModalCenterTitle">Detail Transaksi</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                                                    </div>
                                                  <div class="modal-body">
                                                    <table class="table">
                                                        <thead>
                                                            <tr class="text-center">
                                                              <th scope="col">Judul Buku</th>
                                                              <th scope="col">Harga Buku</th>
                                                              <th scope="col">Banyak Beli</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% for(let j = 0; j < filter[i].details.length; j++){ %>
                                                            <tr>
                                                                <td>
                                                                    <% books.forEach(book => { %>
                                                                        <% if (filter[i].details[j].idbuku == book._id.toString()) { %>
                                                                        <%= book.judul %>
                                                                        <% } %>
                                                                    <% }) %>
                                                                </td>
                                                                <td>
                                                                    <% books.forEach(book => { %>
                                                                        <% if (filter[i].details[j].idbuku == book._id.toString()) { %>
                                                                        Rp.<%= book.harga %>
                                                                        <% } %>
                                                                    <% }) %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <%= filter[i].details[j].jmlbeli %> Unit
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Tutup</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </td>
                                        <td class="text-center">Rp.<%= filter[i].hrgtotal %></td>
                                        <td><%= filter[i].pegawaiusn %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>

        <!-- Advance Filter Modal -->
        <div
            class="modal fade"
            id="advanceFilterModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Filter Data Spesifik</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                    </div>
                        <div class="modal-body">
                            <p class="font-weight-light text-justify">Filter spesifik ini digunakan untuk memfilter data yang lebih spesifik dan tidak dapat dilakukan pada filter general</p>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#userForm">User</button>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#transaksiForm">Transaksi</button>
                            <button type="button" class="btn btn-info btn-sm" data-toggle="collapse" data-target="#bukuForm">Buku</button>
                            
                            <div class="collapse" id="userForm">
                                <br>
                                <form action="/reports/specific" method="GET">
                                    <input type="hidden" class="form-group" name="collection" value="users" />
                                    <hr style="border: none; border-top: 3px solid black; width: 100%">
                                    <p class="text-center">Filter spesifik umur user</p>
                                    <hr style="border: none; border-top: 3px solid black; width: 100%">
                                    <div class="form-group">
                                        <label for="name">Kondisi 1</label>
                                        <select class="form-select" name="condition1" required>
                                            <option value="">Pilih Kondisi</option>
                                            <option value="$gt">></option>
                                            <option value="$lt"><</option>
                                            <option value="$gte">>=</option>
                                            <option value="$lte"><=</option>
                                            <option value="$eq">==</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Nilai umur 1</label>
                                        <input type="number" class="form-control" name="umur1" placeholder="Masukkan umur (tahun)" required/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Kondisi 2</label>
                                        <select class="form-select" name="condition2">
                                            <option value="">Pilih Kondisi</option>
                                            <option value="$gt">></option>
                                            <option value="$lt"><</option>
                                            <option value="$gte">>=</option>
                                            <option value="$lte"><=</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Nilai umur 2</label>
                                        <input type="number" class="form-control" name="umur2" placeholder="Masukkan umur (tahun)"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Urutkan Secara</label>
                                        <select class="form-select" name="sort">
                                            <option value="">Pilih Metode Pengurutan</option>
                                            <option value="1">Ascending</option>
                                            <option value="-1">Descending</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Limit hasil pencarian</label>
                                        <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Tutup
                                        </button>
                                        <button type="submit" class="btn btn-primary">Cari</button>
                                    </div>
                                </form>
                            </div>
                      
                            <div class="collapse" id="transaksiForm">
                                <br>
                                <div class="form-group">
                                    <label for="field">Pilih Atribut Transaksi :</label>
                                    <select class="form-select" name="field" id="field" onchange="toggleInput(this)">
                                      <option value="">Pilih Atribut</option>
                                      <option value="createdAt">Waktu Transaksi</option>
                                      <option value="hrgtotal">Harga Total</option>
                                    </select>
                                </div>

                                <div id="inputGroup">

                                    <div id="createdAt" style="display: none;">
                                        <hr style="border: none; border-top: 3px solid black; width: 100%">
                                        <p class="text-center">Filter spesifik waktu transaksi</p>
                                        <hr style="border: none; border-top: 3px solid black; width: 100%">
                                          <form action="/reports/specific" method="GET">
                                              <input type="hidden" class="form-group" name="collection" value="transactions" />
                                              <input type="hidden" class="form-group" name="field" value="createdAt" />
                                              <div class="form-group">
                                                  <label for="name">Kondisi 1</label>
                                                  <select class="form-select" name="conditiontgl1" required>
                                                      <option value="">Pilih Kondisi</option>
                                                      <option value="$gt">></option>
                                                      <option value="$lt"><</option>
                                                      <option value="$gte">>=</option>
                                                      <option value="$lte"><=</option>
                                                      <option value="$eq">==</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                  <label for="tanggal">Nilai Tanggal 1:</label>
                                                  <input type="date" class="form-control" name="tgl1" required>
                                                </div>
                    
                                                <div class="form-group">
                                                    <label for="name">Kondisi 2</label>
                                                    <select class="form-select" name="conditiontgl2">
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="tanggal">Nilai Tanggal 2:</label>
                                                    <input type="date" class="form-control" name="tgl2">
                                                </div>

                                                <div class="form-group">
                                                    <label for="name">Buku yang dibeli</label>
                                                    <select class="form-select" name="bukuid">
                                                        <option value="">Pilih Judul Buku</option>
                                                        <% for(let i = 0; i < books.length; i++){ %>
                                                        <option value="<%= books[i]._id %>"><%= books[i].judul %></option>
                                                        <% } %>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name">Urutkan Secara</label>
                                                    <select class="form-select" name="sort">
                                                        <option value="">Pilih Metode Pengurutan</option>
                                                        <option value="1">Ascending</option>
                                                        <option value="-1">Descending</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name">Limit hasil pencarian</label>
                                                    <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Tutup
                                                        </button>
                                                    <button type="submit" class="btn btn-primary">Cari</button>
                                                </div>
                                          </form>
                                      </div>

                                      <div id="hrgtotal" style="display: none;">
                                        <hr style="border: none; border-top: 3px solid black; width: 100%">
                                        <p class="text-center">Filter spesifik harga total transaksi</p>
                                        <hr style="border: none; border-top: 3px solid black; width: 100%">
                                          <form action="/reports/specific" method="GET">
                                              <input type="hidden" class="form-group" name="collection" value="transactions" />
                                              <input type="hidden" class="form-group" name="field" value="hrgtotal" />
                                              <div class="form-group">
                                                  <label for="name">Kondisi 1</label>
                                                  <select class="form-select" name="conditiontotal1" required>
                                                      <option value="">Pilih Kondisi</option>
                                                      <option value="$gt">></option>
                                                      <option value="$lt"><</option>
                                                      <option value="$gte">>=</option>
                                                      <option value="$lte"><=</option>
                                                      <option value="$eq">==</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="name">Nilai Harga Total 1</label>
                                                  <input type="number" class="form-control" name="total1" placeholder="Masukkan harga total transaksi (rupiah)" required/>
                                              </div>
                                              <div class="form-group">
                                                  <label for="name">Kondisi 2</label>
                                                  <select class="form-select" name="conditiontotal2">
                                                      <option value="">Pilih Kondisi</option>
                                                      <option value="$gt">></option>
                                                      <option value="$lt"><</option>
                                                      <option value="$gte">>=</option>
                                                      <option value="$lte"><=</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="name">Nilai Harga Total 2</label>
                                                  <input type="number" class="form-control" name="total2" placeholder="Masukkan harga total transaksi (rupiah)"/>
                                              </div>
                                              <div class="form-group">
                                                  <label for="name">Urutkan Secara</label>
                                                  <select class="form-select" name="sort">
                                                      <option value="">Pilih Metode Pengurutan</option>
                                                      <option value="1">Ascending</option>
                                                      <option value="-1">Descending</option>
                                                  </select>
                                              </div>
                                              <div class="form-group">
                                                  <label for="name">Limit hasil pencarian</label>
                                                  <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                              </div>

                                              <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                      Tutup
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Cari</button>
                                              </div>
                                          </form>
                                      </div>

                                </div>
                            </div>
                      
                            <div class="collapse" id="bukuForm">
                                <br>
                                    <div class="form-group">
                                        <label for="field">Pilih Atribut Buku :</label>
                                        <select class="form-select" name="field" id="field" onchange="toggleInput(this)">
                                          <option value="">Pilih Atribut</option>
                                          <option value="tahuntbt">Tahun Terbit</option>
                                          <option value="harga">Harga Buku</option>
                                          <option value="stok">Stok Buku</option>
                                          <option value="jmlbeli">Jumlah Dibeli</option>
                                        </select>
                                    </div>

                                    <div id="inputGroup">

                                        <div id="tahuntbt" style="display: none;">
                                          <hr style="border: none; border-top: 3px solid black; width: 100%">
                                          <p class="text-center">Filter spesifik tahun terbit buku</p>
                                          <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <form action="/reports/specific" method="GET">
                                                <input type="hidden" class="form-group" name="collection" value="books" />
                                                <input type="hidden" class="form-group" name="field" value="tahuntbt" />
                                                <div class="form-group">
                                                    <label for="name">Kondisi 1</label>
                                                    <select class="form-select" name="conditiontbt1" required>
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                        <option value="$eq">==</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Tahun Terbit 1</label>
                                                    <input type="number" class="form-control" name="tbt1" placeholder="Masukkan tahun terbit (tahun)" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Kondisi 2</label>
                                                    <select class="form-select" name="conditiontbt2">
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Tahun Terbit 2</label>
                                                    <input type="number" class="form-control" name="tbt2" placeholder="Masukkan tahun terbit (tahun)"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Urutkan Secara</label>
                                                    <select class="form-select" name="sort">
                                                        <option value="">Pilih Metode Pengurutan</option>
                                                        <option value="1">Ascending</option>
                                                        <option value="-1">Descending</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Limit hasil pencarian</label>
                                                    <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Tutup
                                                      </button>
                                                      <button type="submit" class="btn btn-primary">Cari</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="harga" style="display: none;">
                                            <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <p class="text-center">Filter spesifik harga buku</p>
                                            <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <form action="/reports/specific" method="GET">
                                                <input type="hidden" class="form-group" name="collection" value="books" />
                                                <input type="hidden" class="form-group" name="field" value="harga" />
                                                <div class="form-group">
                                                    <label for="name">Kondisi 1</label>
                                                    <select class="form-select" name="conditionbuku1" required>
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                        <option value="$eq">==</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Harga Buku 1</label>
                                                    <input type="number" class="form-control" name="hrgbuku1" placeholder="Masukkan harga buku (rupiah)" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Kondisi 2</label>
                                                    <select class="form-select" name="conditionbuku2">
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Harga Buku 2</label>
                                                    <input type="number" class="form-control" name="hrgbuku2" placeholder="Masukkan harga buku (rupiah)"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Urutkan Secara</label>
                                                    <select class="form-select" name="sort">
                                                        <option value="">Pilih Metode Pengurutan</option>
                                                        <option value="1">Ascending</option>
                                                        <option value="-1">Descending</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Limit hasil pencarian</label>
                                                    <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                                </div>
    
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Tutup
                                                      </button>
                                                      <button type="submit" class="btn btn-primary">Cari</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="stok" style="display: none;">
                                            <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <p class="text-center">Filter spesifik stok buku</p>
                                            <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <form action="/reports/specific" method="GET">
                                                <input type="hidden" class="form-group" name="collection" value="books" />
                                                <input type="hidden" class="form-group" name="field" value="stok" />
                                                <div class="form-group">
                                                    <label for="name">Kondisi 1</label>
                                                    <select class="form-select" name="conditionstok1" required>
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                        <option value="$eq">==</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Stok Buku 1</label>
                                                    <input type="number" class="form-control" name="stok1" placeholder="Masukkan stok buku (unit)" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Kondisi 2</label>
                                                    <select class="form-select" name="conditionstok2">
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Stok Buku 2</label>
                                                    <input type="number" class="form-control" name="stok2" placeholder="Masukkan stok buku (unit)"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Urutkan Secara</label>
                                                    <select class="form-select" name="sort">
                                                        <option value="">Pilih Metode Pengurutan</option>
                                                        <option value="1">Ascending</option>
                                                        <option value="-1">Descending</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Limit hasil pencarian</label>
                                                    <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                                </div>
    
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Tutup
                                                      </button>
                                                      <button type="submit" class="btn btn-primary">Cari</button>
                                                </div>
                                            </form>
                                        </div>

                                        <div id="jmlbeli" style="display: none;">
                                            <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <p class="text-center">Filter spesifik jumlah beli buku</p>
                                            <hr style="border: none; border-top: 3px solid black; width: 100%">
                                            <form action="/reports/specific" method="GET">
                                                <input type="hidden" class="form-group" name="collection" value="books" />
                                                <input type="hidden" class="form-group" name="field" value="jmlbeli" />
                                                <div class="form-group">
                                                    <label for="name">Kondisi 1</label>
                                                    <select class="form-select" name="conditionbeli1" required>
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                        <option value="$eq">==</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Jumlah Beli Buku 1</label>
                                                    <input type="number" class="form-control" name="beli1" placeholder="Masukkan jumlah beli buku (unit)" required/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Kondisi 2</label>
                                                    <select class="form-select" name="conditionbeli2">
                                                        <option value="">Pilih Kondisi</option>
                                                        <option value="$gt">></option>
                                                        <option value="$lt"><</option>
                                                        <option value="$gte">>=</option>
                                                        <option value="$lte"><=</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Nilai Jumlah Beli Buku 2</label>
                                                    <input type="number" class="form-control" name="beli2" placeholder="Masukkan jumlah beli buku (unit)"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Urutkan Secara</label>
                                                    <select class="form-select" name="sort">
                                                        <option value="">Pilih Metode Pengurutan</option>
                                                        <option value="1">Ascending</option>
                                                        <option value="-1">Descending</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Limit hasil pencarian</label>
                                                    <input type="number" class="form-control" name="limit" placeholder="Masukkan banyaknya batasan lihat dokumen"/>
                                                </div>
    
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Tutup
                                                      </button>
                                                      <button type="submit" class="btn btn-primary">Cari</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <%- include('./partials/js.ejs') %>
        <script>
            function toggleInput(selectElement) {
                var inputGroups = document.querySelectorAll('#inputGroup > div');
                for (var i = 0; i < inputGroups.length; i++) {
                  inputGroups[i].style.display = 'none';
                }
                if (selectElement.value !== "") {
                  document.getElementById(selectElement.value).style.display = 'block';
                }
            }
        </script>
    </body>
</html>
